[Unit]
Description= login.service 

[Service]
User=root
Environment=USERS_API_ADDRESS=http://USER_ENDPOINT:8080
Environment=USERS_API_ADDRESS=http://172.31.27.254:8080
Environment=AUTH_API_PORT=8080
ExecStart=/login/login
Restart=always
Syslogidentifier=login

[Install]
WantedBy=multi-user.target

